MONGODB_URI=your_mongodb_connection_string_here
HOST=127.0.0.1
ADMIN_PORT=4001
DISPLAY_HELP_PORT=4000
GRAPHS_PORT=3010
ADMIN_USERNAME=username
ADMIN_PASSWORD=password
# Seat-map operator: independent from ADMIN_*
SEATMAP_USERNAME=labadmin
SEATMAP_PASSWORD=seatmap-local
# Local service-to-service address; configure for VPS later
ADMIN_INTERNAL_HOST=127.0.0.1
MONGODB_DB=ResponseLogging
